{% extends "base.html" %}

{% block content %}
<form method="post" style="text-align:center">
    {% csrf_token %}
    <label for="">Username</label>
    <br>
    <input type="text" name="username" required>
    <br>
    <label for="">Password</label>
    <br>
    <input type="text" name="password" required>
    <br>
    <br>
    <input type="submit" value="Кнопка" />
    <br>
    <br>
</form>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}