{% extends "base.html" %}
{% block content %}
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<form method="post" style="text-align:center">
    {% csrf_token %}
    <label for="">Имя пользователя:</label>
    <input type="text" name="username" required>
    <br><br>
    <label for="">Пароль:</label>
    <input type="text" name="password" required>
    <br>
    <br>
    <input type="submit" value="&nbsp;&nbsp;&nbsp;Зарегистрироваться&nbsp;&nbsp;&nbsp;" />
    <br>
    <br>
</form>
{% endblock %}